* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044f6f;
    color: white;
    padding: 40px 40px;
    min-width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    list-style: none;
   }

nav a {
    color: white;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 60px;
    text-align: end;
}

/* Background image under header */
.wave {
    height: 200px;
    margin-bottom: 25px;
    background-image: url("../images/photo-1505144808419-1957a94ca61e.avif");
    background-size: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    padding-right: 5%;
}

/* Orientation on text and Images */
.column {
    float: left;
    padding: 20px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
    padding: 60px 100px;
    border-left-style: solid;
    border-color: #367d9c;
    border-width: 7px;
}

.column.right {
    color: black;
    position: relative;
    text-align: start;
}

.about-me {
    margin: 25px;
}

.work {
    margin: 25px;
}

/* Large image */
.main-large {
    width: 100%;
    height: 500px;
    border: 5px solid #3e9ec7;
    display: flex;
    margin: 10px;
}

.main-container {
    position: relative;
}

/* Title for images */
.main-container > a > h3 {
    position: absolute;
    padding: 12px;
    background: #3e9ec7;
    top: calc(10% - 18px);
    left:15px;
}

/* Small images */
.main-small img {
    width: 100%;
    height: 200px;
    border: 5px solid #3e9ec7;
    margin: 10px;
}

.main-small > .image-container {
    width: 48%;
}

.image-container{
    position:relative;
}

/* Title for images */
.image-container > a > h3 {
    position: absolute;
    padding: 8px;
    background: #3e9ec7;
    top: calc(25% - 18px);
    left:15px;
}

.main-small {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* image hovers */
#image1:hover {
    opacity: 0.7;
    cursor: pointer;
}

#image2:hover {
    opacity: 0.7;
    cursor: pointer;
}

#image3:hover {
    opacity: 0.7;
    cursor: pointer;
}

#image4:hover {
    opacity: 0.7;
    cursor: pointer;
}

#image5:hover {
    opacity: 0.7;
    cursor: pointer;
}

h3 {
    font-size: 45px;
    text-align: end;
}

h3 {
    font-size: 24px;
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #529EE5;
    padding: 2em 6em;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    min-width: 75%;
}

footer a {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline solid 5px;
}


@media only screen and (max-width: 1100px){
    header {
        justify-content: space-evenly;
    }

    .main-small > .image-container {
        width: 100%;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 45px;
    }

    nav ul {
        min-width: 110%;
    }

    nav a {
        font-size: 24px;
    }

    footer ul {
        flex-direction: column;
        min-width: 0;
        line-height: 2;
    }

    footer h2{
        font-size: 40px;
        margin-right: 15px;
    }

    .right {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 650px) {
    header {
        padding: 10px;
        display: inline-block;
        min-width: 100%;
    }

    nav ul {
        min-width: 100%;
        padding: 5px;
    }

    nav a {
        font-size: 16px;
    }

    .right {
        padding: 10px 10px;
    }

    .about-me {
        margin: 5px;
    }

    .work {
        margin: 5px;
    }

    .main-large {
        height: 200px;
        margin: 3px;
    }       

    .main-small img {
        height: 100px;
        margin: 3px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }
    
    h3 {
        font-size: 16px;
        color: black;
    }

    p {
        font-size: 14px;
    }

    footer h2 {
        font-size: 30px;
    }

    footer {
        padding: 2em 2em;
    }

    footer a {
        font-size: 16px;
    }
}